<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            $("#sign-in-btn").click(function(){
                var email = $('#email').val();
                var password = $('#password').val();
                $.post(
                    "/oauth/signin",
                    { email: email, password: password }
                ).done(function( data ) {
                    $("#firstname").text(data.user.firstname);
                    $("#sign-in-view").hide();
                    $("#dialog-view").show();
                }).fail(function(err) {
                    console.log(err);
                    alert(err.responseText);
                });
            });
        });
        </script>
    </head>
    <body>

        <div id="dialog-view" style="display: none">
            <p>Hi <span id="firstname"></span>!</p>
            <p><b><%= client.name %></b> is requesting <b>full access</b> to your account.</p>
            <p>Do you approve?</p>

            <form action="/oauth/authorize" method="post">
              <input name="transaction_id" type="hidden" value="<%= transactionID %>">
              <div>
              <input type="submit" value="Allow" id="allow">
              <input type="submit" value="Deny" name="cancel" id="deny">
              </div>
            </form>
        </div>

        <div id="sign-in-view">
            Please sign in to authorize <%= client.name %> to access you data!</br>
            <input type="text" name="email" placeholder="Email" id="email"/><br/>
            <input type="password" name="password" placeholder="Password" id="password"/></br>
            <button id="sign-in-btn">Sign In</button>
        </div>

    </body>
</html>
