<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <a href="http://localhost:3000/oauth/authorize?client_id=Fz0ZC1q8HM&response_type=code&redirect_uri=http://localhost:8090/callback">API Integration</a>
    </body>
</html>
